Creating, Reading and Writing

In [103]:
import pandas as pd

pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

We can assign values to it by using an index parameter in our constructor:

In [104]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

Series

In [105]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Reading Data files

In [106]:
file_test = pd.read_csv("Reading_data_files.csv")

file_test.shape

(3, 3)

In [107]:
file_test.head()

   Product A  Product B  Product C
0         30         21          9
1         35         34          1
2         41         11         11

Indexing, Selecting & Assigning

In [108]:
import pandas as pd
reviews = pd.read_csv("Reading_data_files.csv")
pd.set_option('display.max_rows', 5)

Native accessors

In [109]:
reviews

   Product A  Product B  Product C
0         30         21          9
1         35         34          1
2         41         11         11

In [110]:
reviews['Product A']

0    30
1    35
2    41
Name: Product A, dtype: int64

In [111]:
reviews['Product A'][0]

30

In [112]:
reviews.iloc[0]

Product A    30
Product B    21
Product C     9
Name: 0, dtype: int64

In [113]:
reviews.iloc[:, 0]

0    30
1    35
2    41
Name: Product A, dtype: int64

In [114]:
reviews.iloc[:3, 0]

0    30
1    35
2    41
Name: Product A, dtype: int64