Creating, Reading and Writing

In [704]:
import pandas as pd

pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

We can assign values to it by using an index parameter in our constructor:

In [705]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

Series

In [706]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Reading Data files

In [707]:
file_test = pd.read_csv("Reading_data_files.csv")

file_test.shape

(3, 3)

In [708]:
file_test.head()

   Product_A  Product_B  Product_C
0         30         21          9
1         35         34          1
2         41         11         11

Indexing, Selecting & Assigning

In [709]:
import pandas as pd
reviews = pd.read_csv("Reading_data_files.csv")
pd.set_option('display.max_rows', 5)

Native accessors

In [710]:
reviews

   Product_A  Product_B  Product_C
0         30         21          9
1         35         34          1
2         41         11         11

In [711]:
reviews.Product_A

0    30
1    35
2    41
Name: Product_A, dtype: int64

In [712]:
reviews['Product_A']

0    30
1    35
2    41
Name: Product_A, dtype: int64

In [713]:
reviews['Product_A'][0]

30

In [714]:
reviews.iloc[0]

Product_A    30
Product_B    21
Product_C     9
Name: 0, dtype: int64

In [715]:
reviews.iloc[:, 0]

0    30
1    35
2    41
Name: Product_A, dtype: int64

In [716]:
reviews.iloc[:3, 0]

0    30
1    35
2    41
Name: Product_A, dtype: int64

In [717]:
reviews.iloc[1:3, 0]

1    35
2    41
Name: Product_A, dtype: int64

In [718]:
reviews.iloc[[0, 1, 2], 0]

0    30
1    35
2    41
Name: Product_A, dtype: int64

In [719]:
reviews.iloc[-2:]

   Product_A  Product_B  Product_C
1         35         34          1
2         41         11         11

In [720]:
reviews.loc[0, 'Product_A']

30

In [721]:
reviews.loc[:, ['Product_A', 'Product_B']]

   Product_A  Product_B
0         30         21
1         35         34
2         41         11

In [722]:
cols = ['Product_A', 'Product_B']
indices = [0, 2]
reviews.loc[indices, cols]

   Product_A  Product_B
0         30         21
2         41         11

In [723]:
cols = ['Product_A', 'Product_C']
reviews.loc[:2, cols]

   Product_A  Product_C
0         30          9
1         35          1
2         41         11

Choosing between loc and iloc
When choosing or transitioning between loc and iloc, there is one "gotcha" worth keeping in mind, which is that the two methods use slightly different indexing schemes.

iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

Manipulating the index

In [724]:
reviews.set_index("Product_C")

           Product_A  Product_B
Product_C
9                 30         21
1                 35         34
11                41         11

Conditional selection

In [725]:
reviews.Product_A == 30

0     True
1    False
2    False
Name: Product_A, dtype: bool

In [726]:
reviews.loc[reviews.Product_A == 30]

   Product_A  Product_B  Product_C
0         30         21          9

In [727]:
reviews.loc[(reviews.Product_A == 30) & (reviews.Product_B >= 21)]

   Product_A  Product_B  Product_C
0         30         21          9

In [728]:
reviews.loc[reviews.Product_A.isin([30, 41])]

   Product_A  Product_B  Product_C
0         30         21          9
2         41         11         11

In [729]:
reviews.loc[reviews.Product_A.notnull()]

   Product_A  Product_B  Product_C
0         30         21          9
1         35         34          1
2         41         11         11

Assigning data

In [730]:
reviews['critic'] = 'everyone'
reviews['critic']

0    everyone
1    everyone
2    everyone
Name: critic, dtype: object

In [731]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

0    3
1    2
2    1
Name: index_backwards, dtype: int64